body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #2e2e2eee;
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
    color: #fff;
    background-color: #7dddf5;
    margin: 0;
    padding: 20px;
}

input {
    width: 50%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #7dddf5;
    text-align: center;
    outline: none;
}

ul {
    margin: auto;
    padding: 10px;
    width: 50%;
    text-align: left;
    font-size: 1.5em;
}

ul > li {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px; 
    border-bottom: 1px solid #7dddf5;
}

.done {
    text-decoration: line-through;
    color: #afafafee;
}

li > button {
    padding: 8px;
    margin: 0px 10px;
    border-radius: 2px;
    vertical-align: middle;
    cursor: pointer;
    background-color: #dadada;
    border: none;
    grid-area: 1/1/2/2;
}

.checked {
    background-color: #7dddf5;
}

.delete {
    padding: 3px 7px;
    margin: 0px;
    background-color: transparent;
    color: #7dddf5;
    grid-area: 1/3/1/4;
}